<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="60252MikeScott8.NWVDNUGMeetingInfo" Version="1.0.0.2" Publisher="CN=37C99DFD-9409-4DCC-9263-E0B6FA2189E6" />
  <Properties>
    <DisplayName>NWVDNUG Meeting Info</DisplayName>
    <PublisherDisplayName>MikeScott8</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="NWVDNUG Meeting Info" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="This is a simple app to use to check the upcoming meetings for the Northwest Valley .Net User Group (NWVDNUG)." ForegroundText="dark" BackgroundColor="#464646" ToastCapable="false">
        <DefaultTile ShowName="allLogos" ShortName="NWVDNUG" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="white" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>