.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.meetingHolder {
    oldwidth: calc(50% - 10px);
    width: 370px;
    oldheight: calc(100% - 20px);
    height: 370px;
    overflow-y: scroll;
    background-color: rgb(147, 114, 62);
    border: 1px solid black;
    margin: 3px;
}

.meetingDetailHolder {
    oldwidth: calc(50% - 10px);
    width: calc(80% - 50px);
    oldheight: calc(100% - 20px);
    height: 370px;
    overflow-y: scroll;
    background-color: rgb(147, 114, 62);
    border: 1px solid black;
    margin: 3px;
}

.meetingTitle {
    font-weight: bold;
    font-size: 24px;
    padding: 5px 12px;
    margin: 4px 20px 4px 1px;
}

.meetingDate {
    font-weight: bold;
    font-size: 14px;
    padding: 5px 12px;
    margin: 4px 20px 4px 1px;
}

.meetingLocation {
    padding: 5px 12px;
    margin: 4px 20px 4px 1px;
}

.meetingSpeakerName {
    padding: 5px 12px;
    margin: 4px 20px 4px 1px;
}
                    
.meetingSpeakerLink {
    padding: 5px 12px;
    margin: 4px 20px 4px 1px;
}

.meetingNotes {
    padding: 5px 12px;
    margin: 4px 20px 4px 1px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
        width: 250px;
        height: 450px;
    }

    #meetingListDiv
    {
        width: 275px;
        height: 450px;
    }

    .meetingHolder
    {
        width: 250px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}
